@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;

  .container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
  }
  .converter {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;

    .first-header {
      text-transform: uppercase;
    }

    .converter-form {
      label {
        display: block;
      }
    }
  }
}
